# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# API Keys and Credentials
.env
config/secrets.py

# Data files
*.csv
*.xlsx
*.json
data/raw/

# Logs
logs/
*.log